<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="darkreader-lock">
    <link rel="stylesheet" href="/static/css/portfolio/portfolio.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <title>AVQ - Home</title>
</head>
<body>
    <div class="top-bar">
        <div class="prof-card">
            <img class="prof-pic" src="/static/images/AV_portrait.png" alt="Profile picture">
            <img class="logo-pic" src="/static/images/Logo.png" alt="Logo">
            <div class="separator"></div>
            <div class="socials">
                <a href="https://github.com/Jandro5vq" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="https://twitter.com/ale_v_q" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="https://www.instagram.com/vqalejandro5/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="mailto: alejandro.v.quintano@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>
            </div>
        </div>
    </div>
    <div class="main-menu">
        <div class="card card0">
            <div class="title">
                <i class="fa-solid fa-user"></i>
                <h1 data-i18n="profile-title">Profile</h1>
            </div>
            <span class="description" data-i18n="profile-text">Information about me, like what I like to do and what I enjoy.</span>
        </div>
        <div class="card card1">
            <div class="title">
                <i class="fa-solid fa-folder-open"></i>
                <h1 data-i18n="project-title">Projects</h1>
            </div>
            <span class="description" data-i18n="project-text">Check out all the projects I have done and the ones I am working on.</span>
        </div>
        <div class="card card2">
            <div class="title">
                <i class="fa-solid fa-graduation-cap"></i>
                <h1 data-i18n="studies-title">Studies</h1>
            </div>
            <span class="description" data-i18n="studies-text">A listing of all my academic pursuits.</span>
        </div>
        <div class="card card3">
            <div class="title">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <h1 data-i18n="support-title">Support me!</h1>
            </div>
            <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#b1a6a7ff', 'W7W1KC4GV');kofiwidget2.draw();</script> 
        </div>
    </div>
    <footer>Alejandro Vazquez - 2024</footer>
</body>
<script src="https://kit.fontawesome.com/5ae205cf28.js" crossorigin="anonymous"></script>
<script src="/static/js/portfolio/portfolio.js"></script>
</html>