/* styles.css */

/* Estilo general para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo para el contenedor del formulario de login */
.login-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

/* Estilo para los títulos */
h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Estilo para los párrafos de error */
p {
    color: red;
    font-size: 14px;
    margin-bottom: 20px;
}

/* Estilo para el formulario */
form {
    display: flex;
    flex-direction: column;
}

/* Estilo para las etiquetas */
label {
    margin-bottom: 8px;
    font-size: 14px;
    color: #666;
    text-align: left;
}

/* Estilo para los campos de entrada */
input[type="password"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 16px;
}

/* Estilo para el botón de enviar */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
