* {
    margin: 0;
    padding: 0;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: beige;
    font-size: 1.05rem;
}

body {
    background-color: #4B4B49;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 1.8rem;
    margin-bottom: 15px;
}

/* Button Styles */
#update {
    position: relative;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: beige;
    color: #232628;
    border-radius: 5px;
}

#update span{
    color: #232628;
    font-weight: bold;
}

/* Spinner Styles */
.spinner {
    border: 4px solid #232628; /* Light grey */
    border-left: 4px solid #23262875; /* White */
    border-radius: 50%;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidden {
    display: none;
}


#update:hover{
    background-color: rgb(207, 207, 184);
}

.centered-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.jornada-select {
    margin: 10px;
}

.jornada-select select {
    appearance: none;
    font-size: 1.15rem;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #3f3f3f;
    border: none;
    border-radius: 0.25rem;
    color: #f5f5dc;
    cursor: pointer;
}

#leaderboard-table, #debts-table {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: 0 auto;
    overflow: auto;
}

#leaderboard-table > div.tabulator-tableholder > div > div > div:nth-child(4){
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.tabulator {
    background-color: transparent !important;
    border: none !important;
    border-radius: 8px;
}

.tabulator .tabulator-header {
    background-color: #232628 !important;
}

.tabulator .tabulator-header .tabulator-col {
    background-color: #232628 !important;
    border: none !important;
}

.tabulator .tabulator-tableholder .tabulator-table {
    background-color: transparent !important;
}

.tabulator-row {
    background-color: #2f3335 !important; /* Línea normal */
    border-bottom: none !important;
    color: #eaf0ce; /* Texto principal */
}

.tabulator-row:nth-child(even) {
    background-color: #292d2f !important; /* Línea par */
}

.tabulator-row:hover {
    background-color: #232628 !important; /* Hover */
}

.tabulator-cell {
    padding: 10px 5px !important;
    vertical-align: middle;
    border-right: none !important;
    color: #eaf0ce; /* Texto principal */
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-info .names {
    padding-left: 10px;
}

.profile-info .username {
    color: #bec3ab; /* Texto secundario */
    max-width: 150px;
    text-wrap: balance;
}

.profile-info .name {
    color: #eaf0ce; /* Texto principal */
    font-weight: bold;
}

.tabulator-cell img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

footer{
    text-align: center;
    margin: 5px 0px;
    font-weight: lighter;
}


@media (max-width: 768px) {
    #leaderboard-table, #debts-table {
        max-width: 100%;
    }


}